@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&family=Playfair+Display:wght@700;900&display=swap");
:root {
  --orange-color: #ff5710;
  --marine-color: #1aba9c;
  --text-color: #001a2c;
  --yellow-color: #ffa82c;
  --light-color: #efe4cd;
  --main-font: "Montseratt", sans-serif;
  --second-font: "Playfair Display", sans-serif;
  --normal-font-size: 1rem;
  --font-regular: 400;
  --font-semibold: 600;
  --font-bold: 700;
  --font-black: 900;
  --h1-font-size: clamp(1.6rem, 0.5652rem + 4.7304vw, 5rem);
  --font-size-0: clamp(0.9rem, 0.837rem + 0.288vw, 1.125rem);
  --font-size-1: clamp(1rem, 0.9rem + 0.4571vw, 1.3rem);
  --font-size-2: clamp(1.1rem, 0.918rem + 0.832vw, 1.75rem);
  --heading-size: clamp(2rem, 1.685rem + 1.44vw, 3.125rem);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  font-size: var(--normal-font-size);
  background-color: var(--light-color);
  color: var(--text-color);
}

h1,
h2,
h3 {
  color: var(--text-color);
  font-weight: var(--font-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.section {
  margin-bottom: 4rem;
}
@media screen and (min-width: 768px) {
  .section {
    margin-bottom: 6rem;
  }
}
@media screen and (min-width: 992px) {
  .section {
    margin-bottom: 9rem;
  }
}
.section__heading {
  align-self: end;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .section__heading {
    margin-bottom: 2rem;
  }
}
.section__title {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .section__title {
    text-align: left;
  }
}
.section__title span {
  font-size: var(--font-size-2);
  display: block;
}
.section__title div {
  font-family: var(--second-font);
  font-weight: var(--font-black);
  font-size: var(--heading-size);
  color: var(--text-color);
}
.section__content {
  text-align: center;
}
.section__text {
  font-size: var(--font-size-0);
  font-weight: var(--font-semibold);
  line-height: var(--font-size-2);
  margin-block: 1rem;
}
@media screen and (min-width: 768px) {
  .section__text {
    margin-block: 1rem 3rem;
  }
}

.yellow {
  color: var(--yellow-color);
}

.marine {
  color: var(--marine-color);
}

.orange {
  color: var(--orange-color);
}

.btn {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-1);
  font-weight: var(--font-bold);
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-width: 130px;
  transition: color 0.3s linear 0.5s, background-color 0.4s linear 0s;
}
.btn:hover {
  background-color: var(--text-color);
  color: #fff;
  transition-delay: 0.3s;
}
.btn:hover:after {
  transform: scale(147%) translateY(0);
}
.btn:after {
  background-color: var(--text-color);
  border-radius: 50%;
  content: "";
  height: 200px;
  min-width: 200px;
  position: absolute;
  top: 0;
  transform: scale(100%) translateY(67px);
  transition: transform 0.7s cubic-bezier(0.66, 0, 0.34, 1);
  width: 100%;
  z-index: -1;
}
.btn--fill {
  color: var(--light-color);
  border-radius: 999px;
  padding: 0.7rem 1.5rem;
}
@media screen and (min-width: 992px) {
  .btn--fill {
    padding: 1rem 2.5rem;
  }
}
.btn--orange {
  background-color: var(--orange-color);
}
.btn--marine {
  background-color: var(--marine-color);
}
.btn--link {
  color: var(--text-color);
}
.btn--link:hover {
  background-color: var(--marine-color);
  color: var(--light-color);
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.dropshadow {
  box-shadow: -6px 6px 0px 0px rgba(156, 138, 103, 0.09);
}

.container {
  padding-inline: 15px;
  margin-inline: auto;
}
@media screen and (min-width: 400px) {
  .container {
    max-width: 380px;
  }
}
@media screen and (min-width: 576px) {
  .container {
    max-width: 500px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

.no-scroll {
  height: 100%;
  overflow-y: hidden;
  padding-right: 16px;
}

.modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
  display: none;
  transition: 0.3s;
}
.modal-signup {
  position: fixed;
  background-color: var(--light-color);
  border: 1px solid var(--text-color);
  border-radius: 20px;
  padding: 2rem 3rem;
  width: 300px;
  z-index: 100;
  left: 50%;
  top: 20%;
  transform: translateX(-50%);
  display: none;
}
@media screen and (min-width: 768px) {
  .modal-signup {
    width: 400px;
  }
}
.modal-close {
  position: absolute;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(219, 17, 17);
  border-radius: 999px;
  right: -10px;
  top: -10px;
  font-size: 2rem;
  color: var(--light-color);
  cursor: pointer;
}
.modal-close:hover {
  background-color: rgb(185, 11, 11);
}

.active {
  display: block;
}

.signup-form {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
.signup-input-box {
  display: flex;
  flex-direction: column;
}
.signup-input-box input {
  font-size: 1rem;
  padding: 0.7rem 1.5rem;
  border-radius: 999px;
  outline: none;
  border: 1px solid var(--text-color);
}
.signup-input-box label {
  margin-bottom: 0.25rem;
  margin-left: 1rem;
}
.signup-submit {
  padding: 0.7rem 1rem;
  width: 100%;
  margin-top: 0.5rem;
}

.header {
  position: relative;
  z-index: 10;
  padding-inline: 10px;
}
.header__top {
  height: 10px;
  background-color: var(--light-color);
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 40px;
  }
}
.nav {
  background-color: var(--text-color);
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  border-radius: 999px;
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid var(--light-color);
  border-top: 2px solid var(--light-color);
}
@media screen and (min-width: 992px) {
  .nav {
    padding-inline: 4rem;
    padding-block: 1.2rem;
  }
}
.nav__mobile-btn {
  cursor: pointer;
  position: relative;
  width: 30px;
  height: 30px;
  background-color: transparent;
  outline: none;
  border: none;
  z-index: 10;
}
.nav__mobile-btn:hover div:nth-child(2) {
  transform: scaleX(1);
}
.nav__mobile-btn:hover div:first-child {
  transform: translateY(-8px);
}
.nav__mobile-btn:hover div:last-child {
  transform: translateY(8px);
}
.nav__mobile-btn.active div {
  background-color: var(--orange-color);
}
.nav__mobile-btn.active div:nth-child(2) {
  transform: scaleX(0);
}
.nav__mobile-btn.active div:first-child {
  transform: rotate(45deg);
}
.nav__mobile-btn.active div:last-child {
  transform: rotate(-45deg);
}
@media screen and (min-width: 768px) {
  .nav__mobile-btn {
    display: none;
  }
}
.nav__mobile-btn div {
  display: block;
  position: absolute;
  transform-origin: center;
  width: 30px;
  height: 3px;
  background-color: #fff;
  transform: scaleX(0);
  border-radius: 3px;
  transition: transform 0.3s;
}
.nav__mobile-btn div:first-child {
  transform: translateY(-5px);
}
.nav__mobile-btn div:last-child {
  transform: translateY(5px);
}
.nav__mobile-btn div:nth-child(2) {
  width: 20px;
  left: 5px;
}
.nav__logo {
  color: #fff;
  font-family: var(--second-font);
  font-size: 1.5rem;
}
.nav__list {
  background-color: var(--text-color);
  top: 48px;
  transform: translateY(-100%);
  left: 25px;
  right: 25px;
  padding: 2rem 2rem;
  border-radius: 0 0 25px 25px;
  display: flex;
  row-gap: 1rem;
  flex-direction: column;
  position: absolute;
  font-size: 1.2rem;
  text-align: center;
  transition: 0.3s;
  z-index: -1;
}
.nav__list.active {
  transform: translateY(0);
}
@media screen and (min-width: 768px) {
  .nav__list {
    transform: translateY(0);
    z-index: initial;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
    display: flex;
    flex-direction: row;
    position: initial;
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  .nav__list {
    -moz-column-gap: 4rem;
         column-gap: 4rem;
  }
}
.nav__link {
  color: #fff;
  letter-spacing: 1px;
}
.nav__link:hover {
  color: var(--orange-color);
}
.nav__signup {
  font-size: 1.125rem;
  letter-spacing: 1px;
  color: var(--marine-color);
}
.nav__signup:hover {
  opacity: 0.9;
}

body {
  min-height: 120vh;
}

.hero {
  display: flex;
  padding-top: 3rem;
  flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .hero {
    padding-top: 4rem;
    flex-direction: row;
    align-items: center;
  }
}
.hero__content {
  text-align: center;
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  .hero__content {
    max-width: 300px;
    padding-top: 0;
    text-align: left;
  }
}
@media screen and (min-width: 992px) {
  .hero__content {
    max-width: 548px;
  }
}
.hero__title {
  font-family: var(--second-font);
  font-weight: var(--font-black);
  font-size: var(--h1-font-size);
}
@media screen and (min-width: 992px) {
  .hero__title {
    text-align: left;
    line-height: 1.1;
    margin-bottom: 2rem;
  }
}
.hero__subtitle {
  font-size: var(--font-size-2);
  margin-bottom: 1rem;
}
@media screen and (min-width: 992px) {
  .hero__subtitle {
    margin-bottom: 1rem;
  }
}
.hero__text {
  font-weight: var(--font-bold);
  font-size: var(--font-size-0);
}
@media screen and (min-width: 768px) {
  .hero__text {
    line-height: 1.7;
  }
}
.hero__img-wrapper {
  position: relative;
  width: 100%;
  padding-inline: 20px;
}
@media screen and (min-width: 768px) {
  .hero__img-wrapper {
    padding-inline: 0px;
  }
}
.hero__lamp {
  position: absolute;
  width: 25px;
  top: -20px;
  right: 30%;
}
.hero__actions {
  padding-top: 1.5rem;
  display: flex;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .hero__actions {
    justify-content: start;
  }
}
@media screen and (min-width: 992px) {
  .hero__actions {
    padding-top: 3rem;
  }
}

.booking__title {
  display: flex;
  -moz-column-gap: 0.5rem;
       column-gap: 0.5rem;
  align-items: center;
  font-size: 21px;
  font-weight: var(--font-bold);
  margin-left: 1.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 992px) {
  .booking__title {
    margin-bottom: 2rem;
  }
}
.booking__form {
  background-color: #fff;
  border-radius: 40px;
  padding: 2rem 1.5rem;
  display: grid;
  row-gap: 1rem;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .booking__form {
    padding: 2rem 3rem;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
}
@media screen and (min-width: 1200px) {
  .booking__form {
    grid-auto-flow: column;
    align-items: end;
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    padding: 2rem 3rem;
  }
}
.booking__btn {
  margin-top: 1rem;
  height: 55px;
  padding: 1rem 1.5rem;
  border-radius: 28px;
  background-color: var(--marine-color);
  color: var(--light-color);
  border: none;
  align-self: flex-end;
}
@media screen and (min-width: 1400px) {
  .booking__btn {
    margin-left: auto;
    padding: 2.3rem 3rem;
    margin-top: 0;
  }
}
.booking__btn:after {
  transform: scale(100%) translateY(110px);
}
.booking__input {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.booking__input input {
  height: 55px;
  padding: 1rem 2rem;
  width: 100%;
  border-radius: 28px;
  outline: none;
  font-size: var(--font-size-1);
  font-weight: var(--font-regular);
  background-color: var(--light-color);
  border: 1px solid var(--text-color);
}
@media screen and (min-width: 1400px) {
  .booking__input input {
    padding: 2rem 2.5rem;
    line-height: 32px;
  }
}
.booking__input input:focus, .booking__input input:hover {
  border-color: var(--marine-color);
}
.booking__input label {
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
  font-size: var(--font-size-1);
  font-weight: var(--font-bold);
}

.categories__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
@media screen and (min-width: 1200px) {
  .categories__data {
    flex-direction: row;
  }
}
@media screen and (min-width: 1400px) {
  .categories__data {
    -moz-column-gap: 3rem;
         column-gap: 3rem;
  }
}

.card {
  background-color: #fbf8ef;
  border-radius: 40px;
  padding: 2rem 1rem;
  text-align: center;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 576px) {
  .card {
    padding: 2rem;
    align-items: center;
    flex-direction: row;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .card {
    flex-direction: column;
  }
}
.card__img-wrapper {
  flex: 0 0 auto;
  align-self: center;
  width: 130px;
}
@media screen and (min-width: 576px) {
  .card__img-wrapper {
    width: initial;
  }
}
@media screen and (min-width: 1200px) {
  .card__img-wrapper {
    margin-bottom: 0.5rem;
  }
}
@media screen and (min-width: 576px) {
  .card__data {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .card__data {
    text-align: center;
  }
}
.card-btn {
  text-align: right;
  margin-left: auto;
}
.card-title {
  font-family: var(--second-font);
  font-size: var(--heading-size);
  font-weight: var(--font-black);
  margin-bottom: 0.5rem;
}
.card-text {
  font-size: var(--font-size-0);
  font-weight: var(--font-semibold);
  line-height: 31px;
  margin-bottom: 1.5rem;
}

.absolute {
  position: absolute;
  z-index: -1;
}

.caringness {
  text-align: center;
  overflow: hidden;
}
.caringness img {
  max-width: 50%;
}
.caringness__btn {
  margin-top: 1rem;
  margin-bottom: 5rem;
}
@media screen and (min-width: 1200px) {
  .caringness__btn {
    margin-bottom: 8rem;
  }
}
.caringness__images {
  position: relative;
}
.caringness__table-1 {
  top: 5.5rem;
  left: -13rem;
  max-width: 100px;
  display: none;
}
.caringness__table-2 {
  display: none;
  top: 5.5rem;
  right: -13rem;
}
.caringness__table-3 {
  bottom: 6rem;
  left: -20%;
}
.caringness__table-4 {
  bottom: 6rem;
  right: -20%;
}

.story {
  display: grid;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .story {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .story {
    grid-template-columns: 0.6fr 1fr;
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }
}
.story__content {
  order: 2;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .story__content {
    text-align: left;
    align-self: start;
  }
}
.story__text {
  font-size: var(--font-size-0);
  font-weight: var(--font-regular);
  margin-bottom: 2rem;
  line-height: var(--font-size-2);
}
.story__img {
  width: 70%;
  margin-inline: auto;
  order: 1;
}
@media screen and (min-width: 768px) {
  .story__img {
    grid-row: 1/span 2;
    grid-column: 2;
    width: 100%;
  }
}

.ingredients {
  display: grid;
  align-items: center;
}
.ingredients__content {
  text-align: center;
  order: 2;
}
@media screen and (min-width: 768px) {
  .ingredients__content {
    order: initial;
    text-align: left;
    align-self: start;
  }
}
@media screen and (min-width: 768px) {
  .ingredients {
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .ingredients {
    grid-template-columns: 1fr 0.6fr;
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }
}
.ingredients__img {
  order: 1;
  width: 70%;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .ingredients__img {
    grid-row: span 2;
    order: initial;
    width: 100%;
  }
}

.chef {
  display: grid;
  align-items: center;
  border-radius: 78px;
  background-color: #fbf8ef;
  margin-block: 3rem;
  padding: 2rem 2rem;
}
@media screen and (min-width: 768px) {
  .chef {
    padding: 5rem 6rem;
    grid-template-columns: 1fr 1fr;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .chef {
    grid-template-columns: 0.6fr 1fr;
    -moz-column-gap: 5rem;
         column-gap: 5rem;
  }
}
.chef__content {
  order: 2;
}
@media screen and (min-width: 768px) {
  .chef__content {
    text-align: left;
    align-self: start;
  }
}
.chef__img {
  width: 70%;
  margin-inline: auto;
}
@media screen and (min-width: 768px) {
  .chef__img {
    grid-row: span 2;
    width: 100%;
    order: 1;
  }
}

.testimonials {
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .testimonials {
    padding: 2rem 0;
  }
}
@media screen and (min-width: 1200px) {
  .testimonials {
    padding: 5rem 0;
  }
}
.testimonials__data {
  display: grid;
  gap: 1rem;
}
@media screen and (min-width: 992px) {
  .testimonials__data {
    padding-block: 4rem;
    gap: 3rem;
    justify-items: center;
    grid-template-areas: "a b" "c c";
  }
}

.testimonial {
  background-color: #fbf8ef;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 1rem;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}
@media screen and (min-width: 768px) {
  .testimonial {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}
@media screen and (min-width: 992px) {
  .testimonial {
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
    padding: 2rem;
    width: 450px;
  }
  .testimonial:last-child {
    grid-area: c;
  }
}
@media screen and (min-width: 1200px) {
  .testimonial {
    width: 500px;
  }
}
@media screen and (min-width: 1400px) {
  .testimonial {
    -moz-column-gap: 3rem;
         column-gap: 3rem;
    padding: 3rem;
    width: 585px;
  }
}
.testimonial__stars {
  font-size: 0.9rem;
  color: #d1c2a3;
  display: flex;
  -moz-column-gap: 0.2rem;
       column-gap: 0.2rem;
}
@media screen and (min-width: 992px) {
  .testimonial__stars {
    -moz-column-gap: 0.3rem;
         column-gap: 0.3rem;
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1200px) {
  .testimonial__stars {
    -moz-column-gap: 0.5rem;
         column-gap: 0.5rem;
    font-size: 1.7rem;
  }
}
.testimonial__stars .fill {
  color: #ffa82c;
}
.testimonial__header {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 992px) {
  .testimonial__header {
    align-items: end;
    flex-direction: row;
  }
}
.testimonial__date {
  font-weight: var(--font-bold);
  font-size: 10px;
  line-height: 22px;
  color: #d1c3a3;
  letter-spacing: 0.03rem;
}
@media screen and (min-width: 992px) {
  .testimonial__date {
    font-size: 14px;
    margin-left: auto;
  }
}
.testimonial__name {
  font-family: var(--second-font);
  font-weight: var(--font-black);
  font-size: 20px;
}
@media screen and (min-width: 1200px) {
  .testimonial__name {
    font-size: 28px;
  }
}
.testimonial__text {
  font-size: 12px;
  font-weight: var(--font-semibold);
  margin-bottom: 1rem;
  line-height: 18px;
}
@media screen and (min-width: 1200px) {
  .testimonial__text {
    font-size: 14px;
    line-height: 25px;
  }
}
.testimonial__img {
  width: 30%;
}
@media screen and (min-width: 1200px) {
  .testimonial__img {
    width: 50%;
  }
}

.subscribe {
  text-align: center;
  position: relative;
}
.subscribe__icon {
  position: absolute;
  max-width: 10%;
}
.subscribe__leaf-1 {
  left: 10px;
  top: 50px;
}
.subscribe__leaf-2 {
  right: 10px;
  bottom: 50px;
  transform: rotate(75deg);
}
.subscribe__lemon {
  right: 10px;
  top: 10px;
}
.subscribe__avocado {
  left: 13px;
  bottom: 50px;
}
.subscribe__form {
  margin: 0 auto;
  padding-block: 1rem 2rem;
}
@media screen and (min-width: 768px) {
  .subscribe__form {
    width: 500px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe__form {
    padding-block: 3rem 5rem;
    width: 890px;
  }
}
.subscribe__box {
  position: relative;
  background-color: #d1c2a3;
  border-radius: 28px;
  border: 2px solid #fff;
  margin-bottom: 1rem;
}
@media screen and (min-width: 992px) {
  .subscribe__box {
    margin-bottom: 1.5rem;
    border-radius: 43px;
  }
}
.subscribe__input {
  width: 100%;
  border: none;
  background-color: transparent;
  padding: 1rem 2rem;
  font-size: 14px;
  font-family: var(--second-font);
  color: #001a2c;
  font-weight: var(--font-semibold);
  outline: none;
  border-radius: 28px;
}
.subscribe__input:not(:-moz-placeholder-shown) + .subscribe__label {
  font-size: 10px;
  transform: translateY(5px);
}
.subscribe__input:focus + .subscribe__label, .subscribe__input:not(:placeholder-shown) + .subscribe__label {
  font-size: 10px;
  transform: translateY(5px);
}
@media screen and (min-width: 992px) {
  .subscribe__input {
    border-radius: 43px;
    padding: 2.2rem 4rem 1.3rem;
    font-size: 20px;
  }
  .subscribe__input:not(:-moz-placeholder-shown) + .subscribe__label {
    font-size: 14px;
    transform: translateY(7px);
  }
  .subscribe__input:focus + .subscribe__label, .subscribe__input:not(:placeholder-shown) + .subscribe__label {
    font-size: 14px;
    transform: translateY(7px);
  }
}
.subscribe__label {
  position: absolute;
  left: 2rem;
  top: 0;
  font-size: 12px;
  font-weight: var(--font-semibold);
  letter-spacing: 0.18rem;
  color: #363636;
  text-transform: uppercase;
  transform: translateY(18px);
  transition: 0.3s;
  pointer-events: none;
}
@media screen and (min-width: 992px) {
  .subscribe__label {
    left: 4rem;
    font-size: 17px;
    transform: translateY(30px);
  }
}
.subscribe .area {
  height: 200px;
  resize: none;
}
.subscribe .btn {
  text-transform: uppercase;
  color: #373737;
  font-weight: var(--font-bold);
  border: 2px solid #fff;
  font-size: 14px;
  padding: 1rem 2rem;
}
.subscribe .btn:hover {
  color: #fff;
}
@media screen and (min-width: 992px) {
  .subscribe .btn {
    font-size: 21px;
    padding: 1.2rem 3.5rem;
  }
}

.footer {
  background-color: var(--yellow-color);
  padding-block: 2rem;
}
@media screen and (min-width: 992px) {
  .footer {
    padding-block: 9rem;
  }
}
.footer__inner {
  display: grid;
  row-gap: 2rem;
}
@media screen and (min-width: 1200px) {
  .footer__inner {
    grid-template-columns: repeat(4, 1fr);
  }
}
.footer__action {
  width: 100%;
}
@media screen and (min-width: 576px) {
  .footer__action {
    grid-column: span 2;
  }
}
@media screen and (min-width: 992px) {
  .footer__action {
    justify-self: end;
    text-align: right;
  }
}
.footer__list {
  display: grid;
  row-gap: 1rem;
}
@media screen and (min-width: 992px) {
  .footer__list {
    row-gap: 2rem;
  }
}
.footer__link, .footer__heading-follow {
  color: #3e3e3e;
  font-size: 15px;
  font-weight: var(--font-bold);
}
@media screen and (min-width: 992px) {
  .footer__link, .footer__heading-follow {
    font-size: 25px;
  }
}
.footer__heading {
  color: #fff;
  font-family: var(--second-font);
  letter-spacing: 0.1rem;
  margin-bottom: 1rem;
  font-size: 24px;
  font-weight: var(--font-black);
}
@media screen and (min-width: 992px) {
  .footer__heading {
    margin-bottom: 3rem;
    font-size: 42px;
    margin-left: auto;
    max-width: 450px;
  }
}
.footer__icon {
  background-color: #fff;
  display: inline-flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  font-size: 1rem;
  color: #272727;
  margin-left: 0.5rem;
}
.footer__icon:hover {
  background-color: var(--marine-color);
}
@media screen and (min-width: 768px) {
  .footer__icon {
    font-size: 1.2rem;
    margin-left: 1rem;
    width: 45px;
    height: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__icon {
    font-size: 1.5rem;
    margin-left: 3rem;
    width: 53px;
    height: 53px;
  }
}
.footer__input {
  margin-bottom: 1rem;
}
@media screen and (min-width: 992px) {
  .footer__input {
    margin-bottom: 4rem;
  }
}
.footer__input input {
  border: 3px solid #656565;
  width: 100%;
  border-radius: 999px;
  padding: 0.7rem 1rem;
  background-color: transparent;
  outline: none;
  font-size: 1rem;
  color: #3e3e3e;
}
@media screen and (min-width: 992px) {
  .footer__input input {
    padding: 1rem 2rem;
    font-size: 1.5rem;
    width: 500px;
  }
}
.footer__follow {
  text-align: right;
}/*# sourceMappingURL=styles.css.map */